# other stuff
root.pdf
images/
archive/
IEEEtran_bst_HOWTO.pdf
RAL2026_neural_lidar_bundle_adjustment.pdf

# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm

# Editor-specific (optional)
*.swp
*.swo
*~
.DS_Store
Thumbs.db