# other stuff
root.pdf
images/
archive/
*.pdf
*.gz


# LaTeX build files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm

# Editor-specific (optional)
*.swp
*.swo
*~
.DS_Store
Thumbs.db